
 
  .placeholder2-signup::placeholder {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
  }

  .logo-icon1-signup {
    position: absolute;
    top: 25.94em;
    left: calc(50% - 483px);
    width: 9em;
    height: 2.5em;
  }
  .heading1-signup {
    color: black;
    font-size: 22px;
    font-family: Spoqa Han Sans Neo;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word
  }
  .tint12-signup {
    position: absolute;
    height: 150%;
    width: 137.4%;
    top: -25%;
    right: -20.61%;
    bottom: -25%;
    left: -16.79%;
    background-color: #000;
  }
  .ic-arrow-left5-signup{
    position: absolute;
    height: 66.67%;
    width: 72.78%;
    top: 16.67%;
    right: 14.44%;
    bottom: 16.67%;
    left: 12.78%;
  }
  .ic-arrow-left4-signup {
    position: relative;
    width: 1.13em;
    height: 1.13em;
  }
  .div13-signup {
    position: relative;
    font-size: 0.88em;
    line-height: 1em;
    font-weight: 500;
  }
  .text6-signup{
    color: black;
font-size: 16px;
font-family: Spoqa Han Sans Neo;
font-weight: 500;
line-height: 16px;
word-wrap: break-word;
  }
  /* .text5-signup {
    color: white;
    font-size: 16px;
    font-family: Spoqa Han Sans Neo;
    font-weight: 500;
    line-height: 16px;
    word-wrap: break-word
  } */
  .nowrite-icon4-signup {
    position: relative;
    width: 1.13em;
    height: 1.13em;
    display: none;
  }
  .label-button-container-signup,
  .label-button3-signup {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.25em;
  }
  .label-button3-signup {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.38em 0.75em;
    box-sizing: border-box;
  }
  .label-button-container-signup {
    width: 4.75em;
    display: none;
  }
  .group-container-signup {
    position: relative;
    width: 4.75em;
    height: 2.25em;
    display: none;
    text-align: center;
  }
  .heading-group-signup {
    width: 21.25em;
    height: 2.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .div14-signup {
    color: black;
font-size: 14px;
font-family: Spoqa Han Sans Neo;
font-weight: 700;
line-height: 19px;
word-wrap: break-word
  }
  .tint13-signup{
    position: absolute;
    top: calc(50% - 12.2px);
    left: calc(50% - 12px);
    background-color: #000;
    width: 1.5em;
    height: 1.5em;
  }
  .ic-user-signup5 {
    position: absolute;
    height: 73%;
    width: 75%;
    top: 14.5%;
    right: 12.5%;
    bottom: 12.5%;
    left: 12.5%;
  }
  .ic-user4-signup {
    position: relative;
    width: 1.25em;
    height: 1.25em;
    overflow: hidden;
    flex-shrink: 0;
  }
  .left-tails4-signup {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.88em;
  }
  .dots-child29-signup {
    position: relative;
    border-radius: 50%;
    background-color: #000;
    width: 0.38em;
    height: 0.38em;
  }
  .dots4-signup {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25em;
  }
  .placeholder4-signup {
    position: relative;
    font-size: 1em;
    line-height: 1.38em;
  }
  .spacing4-signup {
    flex: 1;
    position: relative;
    height: 0.5em;
  }
  .input7-signup,
  .rightarea6-signup {
    flex-direction: row;
    align-items: center;
  }
  .rightarea6-signup {
    display: none;
    justify-content: center;
    padding: 0.75em;
  }
  .input7-signup {
    height: 3em;
    display: flex;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.5);
  }
  .input6-signup,
  .input7-signup,
  .line4-signup {
    align-self: stretch;
  }
  .line4-signup {
    position: relative;
    background-color: #000;
    height: 0.13em;
  }
  .input6-signup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ic-pw5-signup,
  .tint15-signup {
    position: absolute;
  }
  .tint15-signup {
    height: 126.58%;
    width: 126.58%;
    top: -13.29%;
    right: -13.29%;
    bottom: -13.29%;
    left: -13.29%;
    background-color: #000;
  }
  .ic-pw5-signup {
    height: 79%;
    width: 79%;
    top: 10.5%;
    right: 10.5%;
    bottom: 10.5%;
    left: 10.5%;
  }
  .value2-signup {
    flex: 1;
    color: rgba(0, 0, 0, 0.8);
  }
  .div17-signup,
  .value2-signup {
    position: relative;
    font-size: 1em;
    line-height: 1.38em;
    display: none;
  }
  .novisible-icon2-signup {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    flex-shrink: 0;
  }
  .rightarea8-signup {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.75em;
    color: #000;
  }
  .inputs-signup {
    width: 21.25em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
  }
  .ic-checkbox-icon-signup {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    
     /* left: 5.50px; */
    /* top:7px;  */
  }
  .b-signup{
    
color: black;
font-size: 16px;
font-family: Spoqa Han Sans Neo;
font-weight: 700;
line-height: 22px;
word-wrap: break-word
  }
  
  .b-signup,
  .div21-signup {
    position: relative;
    
  }
  .div21-signup {
    flex: 1;
    color: black;
font-size: 16px;
font-family: Spoqa Han Sans Neo;
font-weight: 400;
line-height: 22px;
word-wrap: break-word
  }
  .b-signup {
    z-index: 0;
  }
  .frame-child-signup {
    position: absolute;
    margin: 0 !important;
    bottom: 0;
    left: calc(50% - 29.5px);
    background-color: #000;
    width: 3.69em;
    height: 0.06em;
    z-index: 1;
  }
  .div20-signup,
  .parent-signup {
    justify-content: flex-start;
  }
  .parent-signup {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    text-align: right;
  }
  .table-model-signup{
    border: 1px solid black;
  }
  .div20-signup {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
  }
  .frame-item-signup {
    position: absolute;
    margin: 0 !important;
    bottom: 0;
    left: calc(50% - 15px);
    background-color: #000;
    width: 1.88em;
    height: 0.06em;
    z-index: 1;
  }
  .group-signup {
    align-items: flex-start;
    position: relative;
    text-align: right;
    cursor: pointer;
  }
  .agree-signup,
  .body-signup,
  .frame-group-signup,
  .group-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  .agree-signup {
    
    width: 21.25em;
    align-items: flex-start;
    gap: 0.5em;
  }
  .body-signup,
  .frame-group-signup {
    align-items: center;
    gap: 2.25em;
  }
  .frame-group-signup {
    align-items: flex-start;
    justify-content: center;
    padding: 0 3.5em;
  }
  .tint17-signup {
    position: absolute;
    height: 150.38%;
    width: 136.99%;
    top: -24.81%;
    right: -19.86%;
    bottom: -25.56%;
    left: -17.12%;
   
  }
  .ic-arrow-left7-signup {
    position: absolute;
    height: 66.5%;
    width: 73%;
    top: 16.5%;
    right: 14.5%;
    bottom: 17%;
    left: 12.5%;
  }
  .ic-arrow-left6-signup {
    position: relative;
    width: 1.25em;
    height: 1.25em;
  }
  .div27-signup{
    color: black;
font-size: 16px;
font-family: Spoqa Han Sans Neo;
font-weight: 700;
line-height: 16px;
word-wrap: break-word;
margin-left: 5px;
  }
  .label4-signup{
    color: black;
font-size: 14px;
font-family: Spoqa Han Sans Neo;
font-weight: 700;
line-height: 19px;
word-wrap: break-word
  }
  /* .div26-signup {
    position: relative;
    font-size: 1em;
    line-height: 1em;
    font-weight: 500;
  } */
  .nowrite-icon5-signup {
    position: relative;
    width: 1.25em;
    height: 1.25em;
    display: none;
  }
  .label-button4-signup {
    border-radius: 4px;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.38em 1.25em;
    box-sizing: border-box;
  }
  .tint18-signup {
    position: absolute;
    height: 119.76%;
    width: 119.76%;
    top: -10.18%;
    right: -9.58%;
    bottom: -9.58%;
    left: -10.18%;
    background-color: #000;
  }
  .ic-write11-signup {
    position: absolute;
    height: 83.5%;
    width: 83.5%;
    top: 8.5%;
    right: 8%;
    bottom: 8%;
    left: 8.5%;
  }
  .label-button-parent-signup,
  .label-button5-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    /* margin-top: 20px; */
  }

  .err{
    width:400px;
    padding-left: 58px;
    padding-right: 50px;
    margin-left: 30px;
    color: #FF3D00;
    font-weight: 600;
    align-items: center;
    justify-content: center;
   
  }

  .label-button5-signup {
    flex: 1;

    background-color: #000;
    height: 3em;
    justify-content: center;
    gap: 10px;
    padding-right: 4px;
    padding-left: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  .label-button-parent-signup {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0.5em 3.25em 2.25em;
    gap: 2.25em;
    text-align: center;
  }
  .contents1-signup,
  .div12-signup,
  .label-button-parent-signup {
    background-color: #fff;
  }
  .contents1-signup{
    position: absolute;
      margin-top: 20px; 
    left: 50.25em;
    border-radius: 8px 8px 0 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5em 0 0;

     gap: 1.25em; 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .div12-signup {
    position: relative;
    width: 100%;
    height: 56.25em;
    overflow: hidden;
    text-align: left;
    color: #000;
    font-family: "Spoqa Han Sans Neo";
  }
  
/* Add media query for 1274px width */
@media only screen and (max-width: 1274px) {
    .contents1-signup {
        /* Adjust styles for 1274px width */
        left: 45%; /* Adjust the left position as needed */
        /* Add any other styles specific to 1274px width */
    }

    /* Add any other styles or adjustments for 1274px width */
}


@media only screen and (max-width: 820px) {
    .contents1-signup {
        /* Adjust styles for 820px width */
        left: 25%; /* Adjust the left position as needed */
        /* Add any other styles specific to 820px width */
    }

    /* Add any other styles or adjustments for 820px width */
}

@media only screen and (max-width: 650px) {
    .contents1-signup{
        
        left: 10%; 
       
    }

  }
@media only screen and (max-width: 500px) {
    .contents1-signup {
        
        left: 4%; 
        
    }

 
}
@media only screen and (max-width: 470px) {
    .contents1-signup {
        
        transform: scale(0.7);
        left: 1%;
        right: 1%; 
    }

}

@media only screen and (max-width: 370px) {
    .contents1-signup {
      
        transform: scale(0.5); 
        left: 0%;
        right: 0%; 
        
        height: 708px;
    }

   
}

.custom-link-signup-signup{
    text-decoration: none; 
    color:black
  }

  /* .b3-signup-m{
  
    color: black;
    font-size: 18px;
    font-family: Spoqa Han Sans Neo;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
  } */
  .error-message-signup {
    color: #FF3D00;
    font-size: 5px;
    font-family: Spoqa Han Sans Neo;
    font-weight: 400;
    line-height: 6px;
    word-wrap: break-word;
    /* margin-top: 5px; */
    max-width: 300px; 
    margin-left: auto;
    margin-right: auto;
}
.error-message-signup-d1 {
  color: #FF3D00;
  font-size: 12px;
  margin-top: 350px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
  /* margin-top: 5px; */
  max-width: 300px; 
  margin-left: auto;
  margin-right: auto;
}
  .b3-signup{
    color: black;
font-size: 18px;
font-family: Spoqa Han Sans Neo;
font-weight: 700;
line-height: 24px;
word-wrap: break-word
  }

  @media screen and (min-height: 857px) {
    .contents1-signup{
      top:10%;
      transform: scale(0.88); 
      transform-origin: top center; 
      left:60 ;
      margin-bottom: 20px;
      
     
    }
  }
  @media screen and (max-height: 760px) {
    .contents1-signup{
      top:3%;
      transform: scale(0.82); 
      transform-origin: top center; 
      left:60;
      margin-bottom: 20px;
      
     
    }
    
  }

  @media screen and (min-height: 760px) and (max-height: 860px) {
    .contents1-signup {
      top: 15%;
      transform: scale(0.82);
      transform-origin: top center;
      left: 60; 
      margin-bottom: 20px;
    }
  }
  @media screen and (max-height: 630px) {
    .contents1-signup{

      top:0.5%;
      transform: scale(0.78); 
      transform-origin: top center; 
   
      margin-bottom: 100px;
      
      
     
    }
  }

  .close{
    width: 20px;
    height: 20px;
  }

  .text5-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; 
  }
  
  .div26-signup {
    text-align: center;
    margin-left: -5%;
  }
  
  .custom-button-signup-1 {
    font-size: 1.5em; 
  }
  .custom-button-signup-1 {
    font-size: 16px;
    background-color: black;
    
    border-radius: 2px;
    color: white; 
    width: 120px; 
    height: 48px; 
    border: none; 
    cursor: pointer; 
  }