.a-p-e,
.a-p-e-r {
  position: relative;
}
.a-p-e {
  letter-spacing: 0.29em;
  line-height: 2.71rem;
  display: none;
}
.a-p-e-r {
  width: 2.38rem;
  height: 2.38rem;
  object-fit: cover;
}
.logo-area {
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.7rem;
}
.logo-area1 {
  border-radius: 2px;
  background-color: #000;
  width: 0.25rem;
  height: 4.25rem;
  display: none;
}
.logo-minimal-icon {
  position: relative;
  width: 2.5rem;
  height: 2.38rem;
  object-fit: cover;
}
.logo-area-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.b,
.div1 {
  position: relative;
}
.b {
  align-self: stretch;
  line-height: 2.38rem;
}
.div1 {
  font-size: 1.13rem;
  line-height: 1.5rem;
}
.parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.63rem;
}
.ic-write-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
  display: none;
}
.div2 {
  position: relative;
  line-height: 1rem;
  font-weight: 500;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0.25rem;
}
.ic-arrow-right-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
}
.label-button {
  border-radius: 4px;
  background-color: #000;
  width: 10rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.38rem 1.25rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
.frame-group,
.frame-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-group {
  flex: 1;
  flex-shrink: 0;
  align-items: center;
  gap: 0.63rem;
  font-size: 1.75rem;
  color: #000;
  font-family: "Spoqa Han Sans Neo";
}
.frame-parent {
  position: absolute;
  top: 6rem;
  left: 8.81rem;
  width: 69.88rem;
  align-items: flex-start;
  gap: 1.44rem;
}
.mahdi-bafande-dixt8q81-wq-unsp-icon,
.pic-fieldprof-16 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  overflow: hidden;
}
.mahdi-bafande-dixt8q81-wq-unsp-icon {
  height: 150%;
  top: -33%;
  bottom: -17%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.pic-fieldprof-16 {
  top: calc(50% - 110px);
  height: 13.75rem;
}
.selected-icon {
  position: absolute;
  top: 0;
  left: 11.5rem;
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
}
.div3 {
  position: relative;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  font-family: "Spoqa Han Sans Neo";
  color: #fff;
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0.38rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.36);
  position: absolute;
  top: calc(50% - 24px);
  left: 2.56rem;
  border-radius: 4px;
  width: 8.63rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.field-select-img {
  position: relative;
  border-radius: 12px;
  border: 2px solid #000;
  box-sizing: border-box;
  width: 13.75rem;
  height: 10rem;
  overflow: hidden;
  flex-shrink: 0;
}
.craig-manners-bngxioiwm0y-unsp-icon {
  position: absolute;
  height: 100%;
  width: 162%;
  top: 0;
  right: -31%;
  bottom: 0;
  left: -31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.pic-fieldprof-09 {
  position: absolute;
  width: 333.33%;
  top: calc(50% - 80px);
  right: -116.67%;
  left: -116.67%;
  height: 10rem;
  overflow: hidden;
}
.field-select-img1 {
  position: relative;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 3rem;
  height: 10rem;
  overflow: hidden;
  flex-shrink: 0;
}
.caglar-oskay-37iikyijewa-unspl-icon,
.parrish-freeman-imidyuvbole-un-icon {
  position: absolute;
  height: 202%;
  width: 128%;
  top: 0;
  right: 0;
  bottom: -102%;
  left: -28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.parrish-freeman-imidyuvbole-un-icon {
  height: 150%;
  width: 100%;
  top: -39%;
  bottom: -11%;
  left: 0;
}
.eugene-golovesov-bpki4ytxmgm-u-icon,
.kacper-peciak-ut0fov6-vkw-unsp-icon,
.silali-banerjee-xm1iom-mwwa-un-icon {
  position: absolute;
  height: 139%;
  width: 104%;
  top: -2%;
  right: -2%;
  bottom: -37%;
  left: -2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kacper-peciak-ut0fov6-vkw-unsp-icon,
.silali-banerjee-xm1iom-mwwa-un-icon {
  height: 113%;
  width: 113%;
  top: -3%;
  right: -3%;
  bottom: -10%;
  left: -10%;
}
.kacper-peciak-ut0fov6-vkw-unsp-icon {
  height: 144%;
  width: 106%;
  top: -13%;
  right: -4%;
  bottom: -31%;
  left: -2%;
}
.andre-blanco-3sakn9kdlhe-unspl-icon,
.craig-manners-yzfrewlhwwe-unsp-icon,
.nicolas-houdayer-kghadev26mu-u-icon {
  position: absolute;
  height: 157%;
  width: 103%;
  top: -48%;
  right: -2%;
  bottom: -9%;
  left: -1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.andre-blanco-3sakn9kdlhe-unspl-icon,
.craig-manners-yzfrewlhwwe-unsp-icon {
  height: 156%;
  width: 102%;
  top: -47%;
  left: 0;
}
.andre-blanco-3sakn9kdlhe-unspl-icon {
  height: 171%;
  width: 135%;
  top: -26%;
  right: -5%;
  bottom: -45%;
  left: -30%;
}
.abhishek-tiwari-3zdxqud13bc-un-icon,
.peter-burdon-joi5-r-wuuy-unspl-icon {
  position: absolute;
  height: 158%;
  width: 118%;
  top: 0;
  right: -9%;
  bottom: -58%;
  left: -9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.peter-burdon-joi5-r-wuuy-unspl-icon {
  height: 104%;
  width: 156%;
  top: -2%;
  right: -28%;
  bottom: -2%;
  left: -28%;
  object-fit: cover;
}
.craig-manners-ymby5z5ulzk-unsp-icon,
.insung-yoon-gpcz1b3aeqk-unspla-icon,
.natali-nn-qcdjw-26zzk-unsplash-icon {
  position: absolute;
  height: 142%;
  width: 106%;
  top: -21%;
  right: -3%;
  bottom: -21%;
  left: -3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.craig-manners-ymby5z5ulzk-unsp-icon,
.insung-yoon-gpcz1b3aeqk-unspla-icon {
  height: 101%;
  width: 120%;
  top: 0;
  bottom: -1%;
  left: -17%;
  object-fit: contain;
}
.insung-yoon-gpcz1b3aeqk-unspla-icon {
  height: 99.37%;
  width: 66.25%;
  top: -32.5%;
  right: 35.63%;
  bottom: 33.13%;
  left: -1.87%;
  object-fit: cover;
}
.field-select-img14 {
  position: relative;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 3rem;
  height: 10rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.field-select-img-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.pic-fieldprof-161 {
  position: absolute;
  width: 100%;
  top: calc(50% - 539px);
  right: 0;
  left: 0;
  height: 67.38rem;
  overflow: hidden;
}
.cover,
.cover1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.36);
}
.cover1 {
  background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.1));
  opacity: 0.2;
}
.cover1,
.overview-field-img,
.title {
  position: absolute;
  top: 0;
  left: 0;
}
.overview-field-img {
  border-radius: 12px;
  width: 67.38rem;
  height: 25rem;
  overflow: hidden;
}
.title {
  line-height: 1.38rem;
}
.title-wrapper {
  position: absolute;
  top: 3rem;
  left: 5.5rem;
  width: 13.81rem;
  height: 1.38rem;
}
.pic-fieldprof-021 {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.floyd-carter {
  position: relative;
  line-height: 1.5rem;
}
.text3,
.writer {
  flex-direction: row;
  justify-content: flex-start;
}
.text3 {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}
.writer {
  border-radius: 4px;
  display: none;
  align-items: center;
  padding: 0.5rem 0;
}
.frame-child {
  align-self: stretch;
  display: none;
}
.title1,
.title2 {
  position: relative;
}
.title1 {
  line-height: 2.38rem;
  display: none;
  width: 3.19rem;
  flex-shrink: 0;
}
.title2 {
  flex: 1;
  font-size: 2.25rem;
  line-height: 3rem;
}
.frame-parent1,
.title-parent {
  align-self: stretch;
  align-items: flex-start;
}
.title-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.25rem;
}
.frame-parent1 {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 1.75rem;
}
.div6 {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  flex-shrink: 0;
}
.b1,
.child,
.div6 {
  position: relative;
  display: none;
}
.b1 {
  line-height: 1.38rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.child {
  background-color: rgba(255, 255, 255, 0.36);
  width: 0.06rem;
  height: 1rem;
}
.div7 {
  color: rgba(0, 0, 0, 0.6);
  display: none;
  width: 6.25rem;
  flex-shrink: 0;
}
.div7,
.div9 {
  position: relative;
  line-height: 1.38rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.div5,
.group {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.group {
  flex-shrink: 0;
  display: flex;
  gap: 0.25rem;
  color: rgba(255, 255, 255, 0.6);
}
.div5 {
  align-self: stretch;
  display: none;
  gap: 1rem;
  font-size: 1rem;
}
.title3 {
  position: relative;
  line-height: 3rem;
}
.frame-parent3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.5rem;
}
.div12 {
  position: relative;
  font-size: 1rem;
  line-height: 1.88rem;
  display: none;
  width: 37.5rem;
  flex-shrink: 0;
}
.frame-inner {
  border-radius: 12px;
  background-color: #fff;
  width: 30.69rem;
  height: 7.25rem;
}
.cursor,
.div13,
.frame-inner {
  position: relative;
  display: none;
}
.cursor {
  background-color: #fff;
  width: 0.13rem;
  height: 1.63rem;
}
.div13 {
  line-height: 1.63rem;
}
.cursor-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.line {
  align-self: stretch;
  position: relative;
  background-color: #fff;
  height: 0.25rem;
  display: none;
}
.frame-parent2,
.frame-parent4,
.text2 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.frame-parent4 {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  width: 37.5rem;
  height: 11.63rem;
  display: none;
  flex-direction: column;
  padding: 1.25rem;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.36);
}
.frame-parent2,
.text2 {
  width: 56.38rem;
  display: flex;
  flex-direction: row;
  font-size: 2.25rem;
}
.text2 {
  position: absolute;
  top: 0;
  left: 5.5rem;
  height: 25rem;
  flex-direction: column;
  justify-content: center;
  font-size: 1.13rem;
}
.room {
  position: relative;
  border-radius: 16px;
  width: 67.38rem;
  height: 25rem;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-div {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.frame-container,
.label-button1 {
  align-items: center;
  justify-content: center;
}
.label-button1 {
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 3rem;
  display: none;
  flex-direction: row;
  padding: 0.38rem 1.25rem;
  text-align: center;
  color: #000;
}
.frame-container {
  position: absolute;
  top: 11.75rem;
  left: 11.31rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  font-family: "Spoqa Han Sans Neo";
}
.div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 56.25rem;
  overflow: hidden;
  text-align: left;
  font-size: 3.39rem;
  color: #fff;
  font-family: "Noto Sans KR";
}
