


.field-select-img-bk {
    position: relative;
    border-radius: var(--number-token-12);
    width: 13.75rem;
    height: 10rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
 
  
  .selected-icon-bk-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    border-bottom-left-radius: 4px;
    height: 36px;
    object-fit: scale-down;
    background-color: #000;
    padding: 6px;
  }
  .caglar-oskay-37iikyijewa-unspl-icon-bk {
    position: absolute;
    height: 202%;
    width: 128%;
    top: 0;
    right: -63%;
    bottom: -102%;
    left: 35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .pic-fieldprof-01-bk {
    position: absolute;
    width: 333.33%;
    top: calc(50% - 80px);
    right: -116.67%;
    left: -116.67%;
    height: 10rem;
    overflow: hidden;
  }
  .field-select-img1-bk{
    position: relative;
    border-radius: var(--number-token-12);
    border: 1px solid var(--gray-bk-36);
    box-sizing: border-box;
    width: 3rem;
    height: 10rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .eugene-golovesov-bpki4ytxmgm-u-icon-bk,
  .parrish-freeman-imidyuvbole-un-icon-bk {
    position: absolute;
    height: 150%;
    width: 100%;
    top: 0;
    right: -35%;
    bottom: -50%;
    left: 35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .eugene-golovesov-bpki4ytxmgm-u-icon-bk{
    height: 139%;
    width: 104%;
    right: -39%;
    bottom: -39%;
  }
  .kacper-peciak-ut0fov6-vkw-unsp-icon-bk,
  .nicolas-houdayer-kghadev26mu-u-icon-bk,
  .silali-banerjee-xm1iom-mwwa-un-icon-bk {
    position: absolute;
    height: 113%;
    width: 113%;
    top: 0;
    right: -48%;
    bottom: -13%;
    left: 35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .kacper-peciak-ut0fov6-vkw-unsp-icon-bk,
  .nicolas-houdayer-kghadev26mu-u-icon-bk {
    height: 144%;
    width: 106%;
    right: -41%;
    bottom: -44%;
  }
  .nicolas-houdayer-kghadev26mu-u-icon-bk {
    height: 157%;
    width: 103%;
    right: -38%;
    bottom: -57%;
  }
  .abhishek-tiwari-3zdxqud13bc-un-icon-bk,
  .andre-blanco-3sakn9kdlhe-unspl-icon-bk,
  .craig-manners-yzfrewlhwwe-unsp-icon-bk {
    
    position: absolute;
    height: 150%;
    width: 100%;
    top: 0;
    right: -35%;
    bottom: -50%;
    left: 35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .abhishek-tiwari-3zdxqud13bc-un-icon-bk,
  .andre-blanco-3sakn9kdlhe-unspl-icon-bk {
    height: 171%;
    width: 135%;
    right: -70%;
    bottom: -71%;
  }
  .abhishek-tiwari-3zdxqud13bc-un-icon-bk {
    height: 100%;
    width: 30%;
    right: 35%;
    bottom: 0;
  }
  .insung-yoon-gpcz1b3aeqk-unspla-icon-bk,
  .natali-nn-qcdjw-26zzk-unsplash-icon-bk,
  .peter-burdon-joi5-r-wuuy-unspl-icon-bk {
    position: absolute;
    height: 104%;
    width: 156%;
    top: 0;
    right: -91%;
    bottom: -4%;
    left: 35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .insung-yoon-gpcz1b3aeqk-unspla-icon-bk,
  .natali-nn-qcdjw-26zzk-unsplash-icon-bk {
    height: 142%;
    width: 106%;
    right: -41%;
    bottom: -42%;
  }
  .insung-yoon-gpcz1b3aeqk-unspla-icon-bk{
    height: 159%;
    top: -52%;
    right: -3%;
    bottom: -7%;
    left: -3%;
  }
  .field-select-img13-bk {
    position: relative;
    border-radius: var(--number-token-12);
    border: 1px solid var(--gray-bk-36);
    box-sizing: border-box;
    width: 3rem;
    height: 10rem;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  /* .field-select-img-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  } */
  .field-select-img-parent-bk {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap:16px; 
  }
  .main-box-image-1{
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .main-box-image-2{
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .main-box-image{
   margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12rem;
    /* background-color: black; */
    overflow-x: auto;
    gap: 16px;
  }
  .craig-manners-bngxioiwm0y-unsp-icon-bk {
    position: absolute;
    height: 100%;
    width: 162%;
    top: 31.45%;
    right: -62%;
    bottom: -31.45%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .pic-fieldprof-09-bk {
    position: absolute;
    width: 100%;
    top: calc(50% - 539px);
    right: 0;
    left: 0;
    height: 67.38rem;
    overflow: hidden;
  }
  .cover-bk {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: var(--gray-bk-36);
  }
  .cover-bk,
  .cover1-bk,
  .overview-field-img-bk {
    position: absolute;
    top: 0;
    left: 0;
  }
  .cover1-bk {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.1));
    opacity: 0.2;
  }
  .overview-field-img-bk {
    border-radius: var(--number-token-12);
    width: 67.38rem;
    height: 25rem;
    overflow: hidden;
  }
  .parrish-freeman-imidyuvbole-un-icon1-bk {
    position: absolute;
    height: 150%;
    width: 100%;
    top: -39%;
    right: 0;
    bottom: -11%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .pic-fieldprof-021-bk {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .floyd-carter-bk {
    position: relative;
    line-height: 1.5rem;
  }
  .text1-bk,
  .writer-bk {
    flex-direction: row;
    justify-content: flex-start;
  }
  .text1-bk {
    display: flex;
    align-items: flex-start;
    gap: var(--gap-9xs);
  }
  .writer-bk {
    border-radius: var(--br-9xs);
    display: none;
    align-items: center;
    padding: var(--padding-5xs) 0;
  }
  .frame-child-bk {
    align-self: stretch;
    display: none;
  }
  .title-bk,
  .title1-bk {
    position: relative;
  }
  .title-bk {
    line-height: 2.38rem;
    display: none;
    width: 3.19rem;
    flex-shrink: 0;
  }
  .title1-bk {
    flex: 1;
    font-size: var(--h-h1-size);
    line-height: 3rem;
  }
  .frame-container-bk,
  .title-parent-bk {
    align-self: stretch;
    align-items: flex-start;
  }
  .title-parent-bk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--number-token-4);
  }
  .frame-container-bk {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--gap-5xs);
    font-size: var(--h-h2-b-size);
  }
  .caglar-oskay-37iikyijewa-unspl-icon1-bk {
    position: absolute;
    height: 202%;
    width: 128%;
    top: 0;
    right: 0;
    bottom: -102%;
    left: -28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .div3-bk {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .b-bk,
  .child-bk,
  .div3-bk {
    position: relative;
    display: none;
  }
  .b-bk {
    line-height: 1.38rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .child-bk {
    background-color: var(--text-color-label-bt-input-w-placeholder);
    width: 0.06rem;
    height: 1rem;
  }
  .div4-bk {
    color: var(--gray-bk-60);
    display: none;
    width: 6.25rem;
    flex-shrink: 0;
  }
  .div4-bk,
  .div6-bk {
    position: relative;
    line-height: 1.38rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .div2-bk,
  .parent-bk {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .parent-bk{
    display: flex;
    gap: var(--gap-9xs);
    color: var(--gray-w-60);
  }
  .div2-bk {
    align-self: stretch;
    display: none;
    gap: var(--number-token-16);
    font-size: var(--body-body-2-size);
  }
  .p-bk {
 
    color: white;
        font-size: 36px;
        font-family: Spoqa Han Sans Neo;
        font-weight: 700;
        line-height: 48px;
        word-wrap: break-word
  }
  .pp-bk{
    margin-top: 150px;
    color: white;
    font-size: 36px;
    font-family: Spoqa Han Sans Neo;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word
  }
  .p1-bk {
    margin: 0;
    color: white;
        font-size: 16px;
        font-family: Spoqa Han Sans Neo;
        font-weight: 700;
        line-height: 48px;
        word-wrap: break-word;
        margin-top: -10px;
  }
  .title2-bk {
    /* position: relative; */
    line-height: 3rem;
  }

  .b-bk{

  }
  .frame-parent1-bk{
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--gap-5xs);
  }
  .div9-bk {
    position: relative;
    font-size: var(--body-body-2-size);
    line-height: 1.88rem;
    display: none;
    width: 37.5rem;
    flex-shrink: 0;
  }
  .frame-inner-bk {
    border-radius: var(--number-token-12);
    background-color: var(--ic-color-ic-w-enable);
    width: 30.69rem;
    height: 7.25rem;
  }
  .cursor-bk,
  .div10-bk,
  .frame-inner-bk {
    position: relative;
    display: none;
  }
  .cursor-bk {
    background-color: var(--ic-color-ic-w-enable);
    width: 0.13rem;
    height: 1.63rem;
  }
  .div10-bk {
    line-height: 1.63rem;
  }
  .cursor-parent-bk {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .line-bk {
    align-self: stretch;
    position: relative;
    background-color: var(--ic-color-ic-w-enable);
    height: 0.25rem;
    display: none;
  }
  .frame-parent2-bk {
    border-radius: var(--number-token-16);
    border: 1px solid var(--gray-w-60);
    box-sizing: border-box;
    width: 37.5rem;
    height: 11.63rem;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--number-token-20);
    gap: var(--gap-base);
    font-size: var(--input-input-text-1-size);
    color: var(--text-color-label-bt-input-w-placeholder);
  }
  .frame-div-bk,
  .text-bk {
    width: 56.38rem;
    display: flex;
    align-items: flex-start;
  }
  .frame-div-bk{
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--h-h1-size);
  }
  .text-bk {
    position: absolute;
    top: 0;
    left: 5.5rem;
    height: 25rem;
    flex-direction: column;
    justify-content: center;
    gap: var(--number-token-16);
  }
  .room-bk {
    position: relative;
   
    width: 67.38rem;
    height: 25rem;
    overflow: hidden;
    flex-shrink: 0;
    margin-top:10px;
  }
  .frame-group-bk {
    display: flex;
    width: 100%;
    max-width: 1055px;
    height: var(--number-token--48); 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-base);
  }
  .tint-bk {
    position: absolute;
    height: 120%;
    width: 120%;
    top: -10%;
    right: -10%;
    bottom: -10%;
    left: -10%;
    background-color: var(--gray-black);
  }
  .ic-write1-bk {
    position: absolute;
    height: 83.33%;
    width: 83.33%;
    top: 8.33%;
    right: 8.33%;
    bottom: 8.33%;
    left: 8.33%;
  }
  .ic-write-bk {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    display: none;
  }
  .div11-bk {
    position: relative;
    line-height: 1rem;
    font-weight: 500;
    
  }
  .text2-bk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--label-spacing-label-48-ic-side) var(--label-spacing-label-48-ic-side);
    color: white;/* Set the desired text color */
    font-size: 16px; /* Adjust the font size */
    line-height: 1.5; /* Adjust the line height */
  }
  .col{
    color: white;
    text-decoration: none;
  }
  .text22-bk {
    textDecoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--label-spacing-label-48-ic-side) var(--label-spacing-label-48-ic-side);
    color: black;
    font-size: 16px; 
    line-height: 1.5;
  }
  .div111-bk{
    color:#000;
    text-decoration: none;
  }
  
  
  .tint1-bk {
    position: absolute;
    height: 11.67px;
    width: 11.67px;
    top: -35.71%;
    right: -35.71%;
    bottom: -35.71%;
    left: -35.71%;
    /* background-color: var(--gray-black); */
    background-color: white;
  }
  .file-input-label-bk {
    /* Add your styling for the label here */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .ic-add-s1-bk {
    position: absolute;
    height: 58.33%;
    width: 58.33%;
    top: 40.83%;
    right: 20.83%;
    bottom: 20.83%;
    left: 40.83%;
  }
  .ic-add-s-bk {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
  }
  .frame-parent-bk,
  .label-button-bk {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .label-button-wrapper-bk1{
    margin-left: 25px;
  }
  .label-button-bk {
    cursor: pointer;
    align-self: stretch;
    border-radius: var(--number-token-4);
    border: 1px solid black;
    box-sizing: border-box;
    width: auto; 
    max-width: 1078px; 
    height: 3rem;
    flex-direction: row;
    padding: var(--padding-7xs) var(--label-spacing-label-48-side);
    text-align: center;
    font-size: var(--body-body-2-size);
    color: var(--gray-black);
  }
  
  

  @media only screen and (max-width: 768px) {
    
  }
  @media only screen and (max-width: 420px) {
    .label-button-bk {
      padding: var(--padding-7xs);
      font-size: 14px; 
      width: 33%;
      margin-left: 1.2rem;
    }


 

  }

  @media only screen and (max-width: 380px) {
    .label-button-bk {
      padding: var(--padding-7xs); 
      font-size: 14px; 
      width: 30%;
    }


 

  }

  /* .label-button-bk {
    align-self: stretch;
    border-radius: var(--number-token-4);
    border: 1px solid black;
    box-sizing: border-box;
    width:1078px;
    height: 3rem;
    flex-direction: row;
    padding: var(--padding-7xs) var(--label-spacing-label-48-side);
    text-align: center;
    font-size: var(--body-body-2-size);
    color: var(--gray-black);
  } */
  .label-button1-bk1 {
    
    margin-top: 0px;
    margin-left: -10px;
    border-radius: var(--number-token-4);
    background-color: var(--gray-black);
    width: 10rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-7xs) var(--label-spacing-label-48-side);
    box-sizing: border-box;
    color:white;
    text-align:center;
    background-color: black;
  }
  .frame-parent-bk {
    position: absolute;
    top: 11.75rem;
    left: 11.31rem;
    right:11.31rem;
    flex-direction: column;
    gap: var(--number-token-16);
  }
  .a-p-e-bk,
  .a-p-e-r-bk {
    position: relative;
  }
  .a-p-e-bk {
    letter-spacing: 0.29em;
    line-height: 2.71rem;
    display: none;
  }
  .a-p-e-r-bk {
    width: 2.38rem;
    height: 2.38rem;
  }
  .logo-area-bk {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.7rem;
  }
  .logo-area1-bk {
    border-radius: 2px;
    background-color: var(--gray-black);
    width: 0.25rem;
    height: 4.25rem;
    display: none;
  }
  .logo-minimal-icon-bk {
    position: relative;
    width: 2.5rem;
    height: 2.38rem;
  }
  .logo-area-parent-bk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: -20px;
   
  }
  .tint3-bk {
    position: absolute;
    height: 150%;
    width: 137.14%;
    top: -25%;
    right: -17.14%;
    bottom: -25%;
    left: -20%;
    /* background-color: var(--ic-color-ic-w-enable); */
  }
  .ic-arrow-right1-bk {
    position: absolute;
    height: 66.67%;
    width: 72.92%;
    top: 16.67%;
    right: 12.5%;
    bottom: 16.67%;
    left: 14.58%;
    color: white;
  }
  
  .frame-parent3-bk,
  .label-button-wrapper-bk {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .label-button-wrapper-bk {
    flex: 1;
    align-items: center;
    text-align: center;
    font-size: var(--body-body-2-size);
    font-family: var(--h-h7);
  }
  .frame-parent3-bk {
    position: absolute;
    top: 6rem;
    left: 8.81rem;
    width: 69.88rem;
    align-items: flex-start;
    gap: 1.44rem;
    font-size: 3.39rem;
    font-family: var(--font-noto-sans-kr);
  }
 .x-1920-bk {
    position: absolute;
    /* top: 52.75rem; */
    left: calc(50% - 93px);
    /* font-size: var(--h-h7-size); */
    line-height: 1rem;
    /* color: var(--gray-bk-60); */
    color: rgba(0, 0, 0, 0.60);
font-size: 12px;
font-family: Spoqa Han Sans Neo;
font-weight: 400;
line-height: 16px;
word-wrap: break-word;
margin-top: 20px;
  }
  p-bk{
    color: var(--gray-bk-60);
  }
  .div-bk {
    position: relative;
    background-color: var(--ic-color-ic-w-enable);
    width: 100%;
    height: 100%; 
    overflow: hidden;
    text-align: left;
    font-size: var(--h-h4-size);
    color: var(--ic-color-ic-w-enable);
    font-family: var(--h-h7);
    margin-top: 5%;
  }
  /* @media screen and (max-width: 1200px) {
    .div-bk {
      padding-right: 1.875em;
      box-sizing: border-box;
    }
  } */
  
  .custom-link-bk{
    text-decoration: none; 
    color:black
  }

