.pic-fieldprof-02-icon {
    height: 36px;
    width: 36px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    display: none;
  }
  .floyd-carter4 {
    flex: 1;
  }
  .floyd-carter4,
  .floyd-carter5 {
    height: 24px;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
  }
  .text60,
  .writer2 {
    flex-direction: row;
    justify-content: flex-start;
  }
  .text60 {
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  .writer2 {
    width: 88px;
    border-radius: 4px;
    display: none;
    align-items: center;
    padding: 8px 0;
    box-sizing: border-box;
  }
  .div242 {
    width: 656px;
    display: none;
    max-width: 100%;
  }
  .icon3 {
    height: 48px;
    width: 48px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .b45,
  .child7,
  .icon3 {
    position: relative;
    display: none;
  }
  .b45 {
    width: 63px;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .child7 {
    height: 16px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.36);
  }
  .div244 {
    width: 100px;
    color: rgba(0, 0, 0, 0.6);
    display: none;
    flex-shrink: 0;
  }
  .div244,
  .div245,
  .div246,
  .div247,
  .div248 {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .div245 {
    width: 30px;
    display: none;
  }
  .div246,
  .div247,
  .div248 {
    align-self: stretch;
  }
  .div243,
  .parent20 {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .parent20 {
    height: 22px;
    display: flex;
    gap: 4px;
    color: rgba(255, 255, 255, 0.6);
  }
  .div243 {
    width: 443px;
    display: none;
    gap: 16px;
    max-width: 100%;
  }
  .child8 {
    width: 700px;
  }
  .child8,
  .child9,
  .div249 {
    display: none;
    max-width: 100%;
  }
  .div249 {
    width: 600px;
    height: 90px;
    position: relative;
    font-size: 16px;
    line-height: 30px;
  }
  .child9 {
    width: 491px;
    height: 116px;
    border-radius: 12px;
    background-color: #fff;
  }
  .a-p-e,
  .a-p-e-r,
  .child9 {
    position: relative;
  }
  .a-p-e {
    width: 273px;
    font-size: 54.3px;
    letter-spacing: 0.29em;
    line-height: 43.43px;
    display: none;
  }
  .a-p-e-r {
    height: 38px;
    width: 38px;
  }
  .logo-area {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 27.142820358276367px;
  }
  .logo-area1 {
    height: 68px;
    width: 4px;
    border-radius: 2px;
    background-color: #000;
    display: none;
  }
  .logo-minimal-icon {
    height: 38px;
    width: 40px;
    position: relative;
  }
  .logo-area-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .div250,
  .h2-11 {
    position: relative;
  }
  .h2-11 {
    margin: 0;
    align-self: stretch;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    font-family: inherit;
  }
  .div250 {
    width: 339px;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    max-width: 100%;
  }
  .customize-fields {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    min-width: 491px;
    max-width: 100%;
  }
  .ic-arrow-left-icon {
    height: 20px;
    width: 20px;
    position: relative;
    object-fit: cover;
  }
  .div251 {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    display: inline-block;
    min-width: 32px;
  }
  .text61 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
    padding-left: 10px;
  }
  .nowrite-icon23 {
    height: 20px;
    width: 20px;
    position: relative;
    display: none;
    min-height: 20px;
  }
  .box-footer-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ll{
    margin-left: -30%;
  }
  .label-button39 {
    height: 48px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 31px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  .ic-write-icon54 {
    height: 20px;
    width: 20px;
    position: relative;
    object-fit: cover;
    display: none;
    min-height: 20px;
  }
  .div252 {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    font-family: "Spoqa Han Sans Neo";
    color: #fff;
    text-align: center;
    display: inline-block;
    min-width: 96px;
    white-space: nowrap;
  }
  .text62 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
  }
  .ic-check-s-icon {
    height: 20px;
    width: 20px;
    position: relative;
    /* object-fit: cover; */
    padding: 3px;
  }
  .label-button40 {
    cursor: pointer;
    border: 0;
    padding: 14px 18px;
    background-color: #000;
    height: 48px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .customize-fields-parent,
  .frame-parent7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .customize-fields-parent {
    margin: 0;
    flex: 1;
    gap: 10px;
    min-width: 686px;
    white-space: nowrap;
    text-align: left;
    color: #000;
    font-family: "Spoqa Han Sans Neo";
  }
  .frame-parent7 {
    align-self: stretch;
    flex-wrap: wrap;
    gap: 23px;
    font-family: "Noto Sans KR";
  }
  .cover12,
  .pic-fieldprof-09-icon {
    align-self: stretch;
    position: relative;
    flex-shrink: 0;
    debug_commit: f6aba90;
  }
  .pic-fieldprof-09-icon {
    margin-top: -339px;
    height: 1078px;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .cover12 {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.36);
    z-index: 1;
  }
  .cover-wrapper,
  .cover13 {
    align-self: stretch;
    margin-top: -739px;
  }
  .cover-wrapper {
    height: 739px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 339px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .cover13 {
    height: 400px;
    position: relative;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.02));
    flex-shrink: 0;
    debug_commit: f6aba90;
    z-index: 2;
  }
  .overview-field-img3 {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .p11,
  .p12 {
    margin: 0;
  }
  .title20 {
    margin: 0;
    height: 96px;
    position: relative;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    z-index: 3;
  }
  .cursor2 {
    height: 26px;
    width: 2px;
    background-color: #fff;
  }
  .cursor2,
  .div253,
  .line16 {
    position: relative;
  }
  .div253 {
    width: 490px;
    font-size: 20px;
    line-height: 26px;
    display: inline-block;
  }
  .line16 {
    height: 4px;
    width: 600px;
    background-color: #fff;
    display: none;
    max-width: 100%;
  }
  .cursor-parent {
    align-self: stretch;
    flex: 1;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.06);
    /* border: 1px solid #fff; */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 16px;
    max-width: 100%;
    z-index: 3;
  }
  .field-customizer {
    width: 34px;
    position: relative;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    display: inline-block;
    z-index: 3;
  }
  .field-customizer-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    color: #fff;
  }
  .frame-parent8 {
    height: 202px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    max-width: 100%;
    color: rgba(255, 255, 255, 0.36);
  }
  .div241,
  .overview-field-img-parent {
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    text-align: left;
    color: #fff;
    font-family: "Spoqa Han Sans Neo";
  }
  .overview-field-img-parent {
    width: 1078px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 99px 88px;
    position: relative;
    gap: 20px;
  }
  .div241 {
    width: 1440px;
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 96px 181px 250px 141px;
    gap: 82px;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1300px) {
    .customize-fields-parent,
    .overview-field-img-parent {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1125px) {
    .customize-fields,
    .customize-fields-parent {
      min-width: 100%;
    }
    .overview-field-img-parent {
      padding-left: 44px;
      padding-right: 44px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 800px) {
    .a-p-e {
      font-size: 43px;
      line-height: 35px;
    }
    .title20 {
      font-size: 29px;
      line-height: 38px;
    }
    .div241,
    .overview-field-img-parent {
      padding-left: 22px;
      padding-right: 22px;
      box-sizing: border-box;
    }
    .div241 {
      gap: 41px 82px;
      padding-left: 70px;
      padding-right: 90px;
    }
  }
  @media screen and (max-width: 450px) {
    .a-p-e {
      font-size: 33px;
      line-height: 26px;
    }
    .h2-11,
    .title20 {
      font-size: 22px;
      line-height: 30px;
    }
    .title20 {
      line-height: 29px;
    }
    .div253 {
      font-size: 16px;
      line-height: 21px;
    }
    .overview-field-img-parent {
      padding-top: 64px;
      padding-bottom: 64px;
      box-sizing: border-box;
    }
    .div241 {
      gap: 20px 82px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }
  }
  