* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.instance-profile-picture{
    margin-right: 100px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 90px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.hide {
    display: none;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    background-size: cover;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

.heading-container {
    position: absolute;
    margin-top: 300px;
    left: 12%;
   
  }
  .heading-container1 {
    position: absolute;
    margin-top: 300px;
    left: 20%;
   
  }
  .heading-container2 {
    position: absolute;
    margin-top: 300px;
    left: 28%;
   
  }
  .heading-container3 {
    position: absolute;
    margin-top: 300px;
    left: 30%;
   
  }
  .heading-container4{
    position: absolute;
    margin-top: 300px;
    left: 40%;
   
  }
  .pen-main{
    color: white;
font-size: 22px;
width: 180px;

font-weight: 700;
line-height: 28px;
word-wrap: break-word;
cursor: pointer;
  }
  .content-mainpage{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -80px;

  }
  .content-mainpage5{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 100px;

  }
  .heading-container5 {
    position: absolute;
    margin-top: 100px;
    left: 47%;
   
  }
  .wr{
    width:600px;
    height:300px;
    overflow-y: auto;
    overflow: hidden;
    color: white;
    margin-left: 20px;
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
  }

input:checked + label {
    width: 1200px;
    height: 200px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* .card[for="c1"] {
    background-image: url('/public/images/im4.jpg');
} */
/* .card[for="c2"] {
    background-image: url('/public/images/im4.jpg');
} */
/* .card[for="c3"] {
    background-image:  url('/public/images/im5.jpg');
}
.card[for="c4"] {
    background-image:  url('/public/images/im6.jpg');
}

.card[for="c5"] {
    background-image:  url('/public/images/im10.jpg');
}
.card[for="c6"] {
    background-image:  url('/public/images/im9.jpg');
} */

.visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }