.title-mobile {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: white;
    margin-top: 10%;
    padding-left: 1rem;
}

.image-box-mobile {
    height: 50rem;
    background-color: black;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}


.image-box-mobile {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

}

.box-1 {
    scroll-snap-align: start;
}

.title-mobile1 {
    visibility: hidden;
    margin-bottom: 2.5rem;
}

.link-title {
    color: white;
    margin-left: 2rem;
    margin-top: 3.5rem;
    /* text-decoration: underline; */

}

.link-title-1 {
    color: white;
    margin-left: 2rem;
    margin-top: 6.5rem;
}


.link-title::after {
    width: 140px;
    margin-left: 18px;
    content: "";
    display: block;
    border-bottom: 1px solid white;
    margin-top: 5px;
   
}

.inside-text1 {
    margin-left: 5px;
}

.image-mobile {
    width: 380px;
    height: 220px;
    border-radius: 25px;
    /* background-color: red; */
    margin-left: 1rem;
    margin-top: 3rem;
}

.inside-text {
    margin-left: 2rem
}

.image-1 {
    width: 100%;
    height: 100%;
}

.inside-title {
    width: 300px;
    height: 28px;
    margin-top: 2rem;
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}

.inside-count {
    color: white;
    text-align: right;
    font-family: "Spoqa Han Sans Neo";
    margin-top: 2rem;
    font-weight: 400;
    margin-right: 20px;
    font-size: 18px;
    line-height: 24px;
}

.inside-description {
    width: 350px;
    height: 230px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 1rem;
    font-family: "Spoqa Han Sans Neo";
}