.h3 {
  margin: 0;
  padding-left: 1rem;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 2.5rem;
  font-weight: 400;
  font-size: 20px;
  font-family: "YoonV YoonMyungjo105Std_OTF";
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.icEnterArrowIcon {
  height: 1.125rem;
  width: 1.125rem;
  position: relative;
  min-height: 1.125rem;
}
.spacing4 {
  width: 0.25rem;
  height: 0.25rem;
  position: relative;
}
.spacing4Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.norightArrowIcon {
  height: 1.125rem;
  width: 1.125rem;
  position: relative;
  display: none;
  min-height: 1.125rem;
}
.div {
  color: black;
  position: relative;
  text-decoration: underline;
  line-height: 0.875rem;
  font-weight: 400;
  display: inline-block;
  min-width: 4.438rem;
  white-space: nowrap;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.spacing41 {
  height: 0.25rem;
  width: 0.25rem;
  position: relative;
  display: none;
}
.buttonArea,
.parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonArea {
  padding-top: 2rem;
  padding-left: 1rem;
  border-radius: var(--br-9xs);
  flex-direction: row;
  /* padding: var(--padding-4xs) 0; */
  text-align: center;
  font-size: var(--h-h6-b-size);
  color: var(--text-color-label-bt-input-bk-enable);
  font-family: var(--h-h7-b);
}
.parent {
  padding-top: 3rem;
  flex-direction: column;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--novel-body-myeongjo-2-size);
  color: var(--gray-bk-80);
  font-family: var(--novel-body-myeongjo-3);
}
