.aPE,
.aPER {
  position: relative;
}
.aPE {
  width: 17.063rem;
  letter-spacing: 0.29em;
  line-height: 2.714rem;
  display: none;
}
.aPER {
  height: 2.375rem;
  width: 2.375rem;
}
.logoArea {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.696rem;
}
.logoArea1 {
  height: 4.25rem;
  width: 0.25rem;
  border-radius: var(--br-11xs);
  background-color: var(--text-color-label-bt-input-bk-enable);
  display: none;
}
.logoMinimalIcon {
  height: 2.375rem;
  width: 2.5rem;
  position: relative;
}
.logo {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.h3,
.inprogress {
  position: relative;
}
.h3 {
  margin: 0;
  width: 10.438rem;
  font-size: inherit;
  line-height: 1.75rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.inprogress {
  height: 0.5rem;
  width: 4rem;
  background-color: var(--text-color-label-bt-input-bk-enable);
}
.bg,
.inprogress,
.inprogress1 {
  border-radius: var(--number-token-2);
}
.bg {
  flex: 1;
  background-color: var(--gray-bk-12);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.inprogress1 {
  width: 4rem;
  height: 1rem;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: var(--text-color-label-bt-input-bk-enable);
  display: none;
  z-index: 0;
}
.bg1,
.bgParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bg1 {
  height: 0.5rem;
  width: 2.25rem;
  border-radius: var(--number-token-2);
  background-color: var(--gray-bk-12);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
}
.bgParent {
  width: 19.25rem;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.inprogress2 {
  width: 4rem;
  height: 1rem;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  border-radius: var(--number-token-2);
  background-color: var(--text-color-label-bt-input-bk-enable);
  display: none;
  z-index: 0;
}
.bg2,
.mainInner,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bg2 {
  width: 2.25rem;
  height: 0.5rem;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: var(--number-token-2);
  background-color: var(--gray-bk-12);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
}
.mainInner,
.parent {
  max-width: 100%;
}
.parent {
  flex: 1;
  flex-direction: column;
  position: relative;
  gap: 3rem;
}
.mainInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--h-h3-b-size);
  color: var(--text-color-label-bt-input-bk-enable);
  font-family: var(--h-h7-b);
}
.aPE1,
.aPER1 {
  position: relative;
}
.aPE1 {
  width: 17.063rem;
  letter-spacing: 0.29em;
  line-height: 2.714rem;
  display: none;
}
.aPER1 {
  height: 2.375rem;
  width: 2.375rem;
}
.logoArea2 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.696rem;
}
.logoArea3 {
  height: 4.25rem;
  width: 0.25rem;
  border-radius: var(--br-11xs);
  background-color: var(--text-color-label-bt-input-bk-enable);
  display: none;
}
.logoMinimalIcon1 {
  height: 2.375rem;
  width: 2.5rem;
  position: relative;
}
.logo1 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.hDivider20 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--gray-bk-20);
  max-width: 100%;
}
.hDivider16,
.hDivider16Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hDivider16 {
  flex: 1;
}
.hDivider16Wrapper {
  height: 0.313rem;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.frameParent,
.group,
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent {
  margin-left: -33.75rem;
  width: 90rem;
  align-items: flex-end;
  max-width: 400%;
  flex-shrink: 0;
}
.group,
.main {
  align-items: flex-start;
  box-sizing: border-box;
  gap: var(--gap-41xl);
}
.group {
  align-self: stretch;
  padding: 0 0 31.813rem;
  max-width: 100%;
  flex-shrink: 0;
}
.main {
  width: 100%;
  height: 200.063rem;
  position: relative;
  background-color: var(--gray-white);
  overflow: hidden;
  padding: 0 0 44.75rem;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-35xl-3);
  color: var(--gray-white);
  font-family: var(--font-noto-sans-kr);
}
