.logoIcon {
  width: 4.5rem;
  height: 1.25rem;
  position: relative;
  display: none;
}
.logoMinimalIcon {
  width: 2rem;
  height: 1.888rem;
  position: relative;
  margin-top: 25px;
  margin-left: 10px;
}
.leftTrail {
  align-self: stretch;
  background-color: var(--gray-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--number-token-24);
}
.leftTrail1 {
  /* align-self: stretch; */
  filter: brightness(0) invert(1);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--number-token-24);

}
.spacing {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vDivider161 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray-bk-20);
}
.vDivider16 {
  height: 3rem;
  width: 0.063rem;
  position: relative;
}
.divider {
  background-color: var(--gray-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--number-token-12) var(--number-token-16);
}
.login {
  position: relative;
  line-height: 1.5rem;
}
.icChevronRightSIcon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  object-fit: cover;
}
.picFieldprof01Icon {
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% - 21px);
  width: 2.625rem;
  height: 3.388rem;
  overflow: hidden;
  object-fit: cover;
}
.fieldListImgfalsefalsethu {
  height: 2.75rem;
  width: 3.75rem;
  position: relative;
  border-radius: var(--number-token-4);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.rightTrail {
  height: 4.5rem;
  width: 8.125rem;
  background-color: var(--gray-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--number-token-12) var(--number-token-20);
  box-sizing: border-box;
  gap: var(--number-token-2);
}
.icHamburgerIcon1 {
  height: 2rem;
  width: 2rem;
  position: relative;
  object-fit: cover;
  filter: brightness(0) invert(1);

}
/* .fixedGnbM1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
} */
.menu,
.newGnbM {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.menu,
.newGnbM {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.menu {
  align-items: center;
  justify-content: center;
  padding: var(--number-token-16);
}
.menu1 {
  align-items: center;
  justify-content: center;
  padding: var(--number-token-16);
  filter: brightness(0) invert(1);
}
.newGnbM {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 5rem;
  background-color: var(--gray-white);
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--h-h4-b-size);
  color: var(--text-color-label-bt-input-bk-enable);
  font-family: var(--h-h7-b);
}
.newGnbM1 {
  
  padding-left: 1rem;
  padding-right: 1rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  z-index: 99;
  /* position: sticky; */
  text-align: left;
  font-size: var(--h-h4-b-size);
  color: var(--text-color-label-bt-input-bk-enable);
  font-family: var(--h-h7-b);
  z-index: 999;
}

.sliding-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: black;
    overflow: hidden;
    transition: height 0.3s ease;
}

.sliding-menu.open {
    height: 100%;
}


.menuItems {
  z-index: 9999;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    
    background-color: black; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease; 
  }
  .hell{
    margin-left: 200px;
  }
  .menuItems ul {
    list-style-type: none;
   
    padding: 0;
  }
  
  .menuItems ul li {
    padding: 1rem;
    margin-bottom: 5px;
    gap: 1rem;
    text-align: center;
    cursor: pointer;
   
    align-items: center; 
  }

  .s-1{
    /* filter: brightness(0) invert(1); */
    width: 400px;
    filter: invert(100%);
}

li {
  display: flex; /* Use flexbox */
  justify-content: center; /* Align items horizontally at the center */
  align-items: center; /* Align items vertically at the center */
}