.pic-fieldprof-11-icon-i {
    height: 50em;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .field-list-i-img6 {
    height: 25em;
    width: 11.125em;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .pic-fieldprof-15-icon1-i {
    height: 50em;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .field-list-i-img7 {
    height: 25em;
    width: 11.125em;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .pic-fieldprof-14-icon-i {
    height: 50em;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .field-list-i-img8 {
    height: 25em;
    width: 11.125em;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .craig-manners-ymby5z5ulzk-unsp-icon1 {
    position: absolute;
    height: 101%;
    width: 120%;
    top: 0;
    right: -2.98%;
    bottom: -1%;
    left: -17.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
  }
  .pic-fieldprof-131 {
    height: 50em;
    flex: 1;
    position: relative;
    overflow: hidden;
  }
  .field-list-i-img9 {
    height: 25em;
    width: 11.125em;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .pic-fieldprof-02-icon-i {
    height: 50em;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .field-list-i-img10 {
    height: 25em;
    width: 11.125em;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .pic-fieldprof-16-icon-i {
    height: 50em;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .field-list-i-img11 {
    height: 25em;
    width: 11.125em;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .field-list-img-group-i {
    background-color: black;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
   
    padding: 3rem 3rem 3rem 3rem;
    box-sizing: border-box;
    gap: 0 2em;
    max-width: 100%;
    /* margin-left: 5%; */
    cursor: pointer;
  }
  .field-list-img-group-i-1 {
    background-color: black;
    width: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
   
    /* padding: 3rem 3rem 3rem 3rem; */
    box-sizing: border-box;
    gap: 0 2em;
    max-width: 100%;
    /* margin-left: 5%; */
    cursor: pointer;
  }
  .fixed-navbar1 {
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  .name-autorr{
font-weight: 700;
font-size: 16px;
color: white;
margin-left: 270px;
margin-top: 20px;
  }

  .name-autorr-1{
    width: 100%;
    font-weight: 700;
    font-size: 16px;
   color: black;
   margin-top: 30px;
   
    margin-top: 30px;
    margin-left: 70px;
    z-index: 10000;
    color: white;
      }