.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background-color: white;
   color: black;
    padding: 10px;
   
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu a {
    text-decoration: none;
   color: black;
    margin: 0 15px;
  }
  .icons{
    display: flex;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: transparent;
    margin: 5px 0;
  }
  
  @media screen and (max-width: 600px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: white;
      color: black;
    }
  
    .menu.open {
      display: flex;
    }
  
    .menu-icon {
      display: block;
    }
  }

  .ic-search-icon{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    margin-right: 2rem;
    }
  
    .write-in-gnb {
        width: 2.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        padding: 1.25rem;
        box-sizing: border-box;
    }

    .label-button4 {
        border-radius: 4px;
        height: 3rem;
        justify-content: center;
        padding: 0.38rem 1.25rem;
        box-sizing: border-box;
        text-align: center;
        font-size: 1rem;
    }

    .image-body{

        width: 120px;
        height: 120px;
    }

    
    .user-component {
        
        opacity: 0; 
        transition: opacity 0.5s ease; 
      
       
      }
      
      .slide-down {
        opacity: 1; 
      }
      
      .slide-up {
        opacity: 0; 
      }


      .heading-virewer-1{
        color: black;
font-size: 48px;
font-family: Spoqa Han Sans Neo;
font-weight: 700;
line-height: 38px;
word-wrap: break-word
      }

      .heading-viewer{
        margin-top: 50px;
        padding-left: 50px ;
        padding-right: 50px;
      }

      .viewer-recomended {
        display: flex;
         
        padding: 20px;
      }
      
      .first-div,
      .second-div,
      .third-div {
        /* flex: 1; */
        
        height: 270px;
        background-color: #eaeaea;
        margin-bottom: 10px; 
      }
      
      .first-div {
        width: 692px;
      }
      
      .second-div,
      .third-div {
        width: 181px;
      }

      .viewer-recomended{
        display: 'flex';
        flex-direction: row;
        justify-content: 'space-between';
        width: 80%; 
            max-width: 1200px;
            height: 340px;
            margin-left: auto;
            margin-right: auto;
            margin-left: 100px;
            margin-right: 100px;
            background-color: #eaeaea; 
      }

.first-div,
.second-div,
.third-div {
  height: 270px;
  background-color: #f5f2f2; 
}

.content{
    color: white ;
    background-color: black;
}
.responsive-div {
    margin-top: 100px;
    width: 100%;
    height: 706px;
    background-color: black;
    position: absolute;
   
  }
  
.nested-div-1 {
    width: 100%;
    height: 186px;
    background-color: #a0a0a0; 
   
  }
  
.content-2{
    margin-left: 120px;
    color: black;
    display: flex;
    flex-direction: row;
}
.view-down{
    width: 100%;
    background-color: white;
    height: 20px;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
}
.link{
    margin-top: 20px;
    text-decoration: underline;
}
.container-view {
    width: 2px;
    height: 200px;
    position: relative;
  }
  .fnt{
    color: rgba(0, 0, 0, 0.80);
font-size: 18px;
font-family: YoonV YoonMyungjo105Std_OTF;
font-weight: 400;
line-height: 35px;
word-wrap: break-word
  }
  
  .line-view {
    width: 1px;
    height: 450px;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.20);
  }