/* .head1{
    color: black;
font-size: 18px;
font-family: Spoqa Han Sans Neo;
font-weight: 700;
line-height: 24px;
word-wrap: break-word
}

.desc2{
    color: rgba(0, 0, 0, 0.36);
font-size: 16px;
font-family: Spoqa Han Sans Neo;
font-weight: 400;
line-height: 22px;
word-wrap: break-word
}
.head-desc{
    color: black;
font-size: 28px;
font-family: Spoqa Han Sans Neo;
font-weight: 400;
line-height: 38px;
word-wrap: break-word
}

.content-routine{


} */


.child-2,
.item-2 {
  position: absolute;
  top: 24rem;
  left: 39.81rem;
  border-radius: 4px;
  background-color: #fff;
  width: 1rem;
  height: 5rem;
  display: none;
}
.item-2 {
  top: 16.06rem;
}
.nolist-icon-2 {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.right-trail-2 {
  background-color: #000;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
}
.logo-icon-2 {
  position: relative;
  width: 4.5rem;
  height: 1.25rem;
  object-fit: cover;
}
.left-trail-2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.spacing-2 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ic-search-icon-2,
.nosearch-icon-2 {
  position: relative;
  width: 28px;

  height: 28px;
  object-fit: cover;
}
.ic-search-icon-2 {
  width: 1rem;
  height: 1rem;
}
.right-trail2-2 {
  width: 4.5rem;
  height: 4.5rem;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  box-sizing: border-box;
}
.insung-yoon-gpcz1b3aeqk-unspla-icon-2 {
  position: absolute;
  height: 293.61%;
  width: 252.38%;
  top: -96.02%;
  right: -145.24%;
  bottom: -97.59%;
  left: -7.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.pic-fieldprof-15-2 {
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% - 21px);
  width: 2.63rem;
  height: 3.38rem;
  overflow: hidden;
}
.field-list-imgfalsefalsethu-2 {
  position: relative;
  border-radius: 4px;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 4.13rem;
  height: 1.88rem;
  overflow: hidden;
  flex-shrink: 0;
}
.div1-2 {
  position: relative;
  line-height: 0.88rem;
  font-weight: 500;
}
.right-trail4-2{
  height: 4.25rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  gap: 0.5rem;
}
.ic-search-icon1-2 {
  position: relative;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.wrapper-2 {
  height: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.andre-blanco-3sakn9kdlhe-unspl-icon-2 {
  position: absolute;
  height: 171%;
  width: 135%;
  top: -26%;
  right: -5%;
  bottom: -45%;
  left: -30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.field-list-imgfalsefalsethu1-2 {
  position: relative;
  border-radius: 4px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 2.75rem;
  height: 2.13rem;
  overflow: hidden;
  flex-shrink: 0;
}
.right-trail6-2,
.write-in-gnb-2 {
  height: 4.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.right-trail6-2 {
  display: none;
  padding: 0.75rem 0.5rem;
  gap: 0.5rem;
}
.write-in-gnb-2 {
  width: 4.5rem;
  display: flex;
  padding: 1.25rem;
}
.v-divider-16-invers-child-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.v-divider-16-invers-2 {
  align-self: stretch;
  position: relative;
  width: 0.06rem;
}
.name-2,
.v-divider-16-invers-wrapper-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.v-divider-16-invers-wrapper-2 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0.75rem 1rem;
}
.name-2 {
  width: 2.5rem;
  height: 1rem;
  justify-content: flex-end;
}
.abhishek-tiwari-3zdxqud13bc-un-icon-2 {
  position: absolute;
  height: 158%;
  width: 118%;
  top: 158%;
  right: -127%;
  bottom: -216%;
  left: 109%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.field-writer-2,
.gnb-2-2 {
  height: 4.5rem;
  flex-direction: row;
  align-items: center;
}
.field-writer-2 {
  width: 8.13rem;
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem 1.25rem;
  box-sizing: border-box;
  gap: 0.5rem;
}
.gnb-2-2 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 90rem;
  display: none;
  justify-content: flex-start;
}
.a-p-e-2,
.a-p-e-r-2 {
  position: relative;
}
.a-p-e-2 {
  letter-spacing: 0.29em;
  line-height: 2.71rem;
  display: none;
}
.a-p-e-r-2 {
  width: 2.38rem;
  height: 2.38rem;
  object-fit: cover;
}
.logo-area-2 {
  flex-shrink: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.7rem;
}
.logo-area1-2 {
  border-radius: 2px;
  background-color: #000;
  width: 0.25rem;
  height: 4.25rem;
  display: none;
}
.logo-minimal-icon-2 {
  position: relative;
  width: 2.5rem;
  height: 2.38rem;
  object-fit: cover;
}
.logo-area-parent-2 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div4-2 {
  position: relative;
  line-height: 2.38rem;
}
.container-2,
.frame-group-2 {
  display: flex;
  flex-direction: row;
}
.container-2 {
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.75rem;
  color: #000;
  font-family: "Spoqa Han Sans Neo";
}
.frame-group-2 {
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1.44rem;
}
.routine-child-2 {
  position: relative;
  border-radius: 2px;
  background-color: #fff;
  width: 0.25rem;
  height: 3.75rem;
  cursor: pointer;
}
.b-2,
.div5-2 {
  position: relative;
  line-height: 1.5rem;
}
.div5-2 {
  font-size: 1rem;
  line-height: 1.38rem;
  color: rgba(0, 0, 0, 0.36);
}
.ggg1{
margin-left: 60px;
}
.ggg{
  display: none; 
    color: white;
  font-size: 16px;
 float: right;
 flex-grow: 1;
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center;
}
.parent-2{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
}
.routine-2,
.routine-parent-2 {
  display: flex;
  justify-content: flex-start;
}
.routine-2 {
  border-radius: 8px;
  height: 5rem;;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  /* padding: 0 2rem 0 0; */
  gap: 0.75rem;
  transition: all 0.5s linear;
}

.routine-2:hover {
  background-color:#1e183a;
  border-radius: 5px;
  scale: 1;
}

.routine-2::after{
  content: '';
  background: black;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 8px;
 
  inset: 0;
  transition: all 10s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;    
}
.routine-2:hover::after {
  width: 100%;

}
.routine-parent-2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  text-align: center;
  font-size: 1.13rem;
  color: #000;
  font-family: "Spoqa Han Sans Neo";
  margin-top: -20px;
}
.frame-parent-2,
.right-trail7-2 {
  position: absolute;
  display: flex;
}
.frame-parent-2 {
  top: calc(50% - 250px);
  left: calc(50% - 350px);
  width: 700px;
  height: 476px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  font-size: 3.39rem;
  font-family: "Noto Sans KR";
}
.right-trail7-2 {
  /* top: 13.94rem; */
  right: -2rem;
  width: 2.25rem;
  height: 2.25rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  box-sizing: border-box;
  cursor: pointer;
}
.div-2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  /* overflow-y: hidden; */

  text-align: left;
  font-size: 0.88rem;
  color: #fff;
  font-family: "Spoqa Han Sans Neo";
}
.routine-parent-2 .routine-2{
    width: 43.75rem;  
    box-sizing: border-box;
    
  }

.routine-2:hover {
    background-color: black;
    color: white;
  }
  
  
  /* .routine-2:hover b {
    color: white;
  } */
  
  .routine-2:hover .div5-2 {
    color: white;
  }
  .routine-child-2.hovered  {
    background-color: black;
    color: white;
  }
  
  
  .routine-2:hover .ggg {
    display: block;
    color: white;
  }
  .routine-2:hover .ggg {
    display: block;
    color: white;
  }
  .routine-2:hover .ggg {
    display: block;
    color: white;
  }
  
  .additional-text-2 {
    display: none; 
    color: white;
    font-size: 14px;
    font-family: Spoqa Han Sans Neo;
    font-weight: 500;
    line-height: 14px;
    word-wrap: break-word;
    margin-left: 40px;
  }
  .parent-2 {
    flex-grow: 1; /* Allow the content to expand and fill available space */
  }
  .additional-text-22 {
    display: none; 
    color: white;
    font-size: 14px;
    font-family: Spoqa Han Sans Neo;
    font-weight: 300;
    line-height: 14px;
    /* word-wrap: break-word; */
    float: right;
    
  }
  .additional-text-23 {
    display: none; 
    color: white;
    font-size: 14px;
    font-family: Spoqa Han Sans Neo;
    font-weight: 500;
    line-height: 14px;
    word-wrap: break-word;
    margin-left:  30px;
  }
  .text-routine-2{
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .routine-container {
      padding: 1rem;
    }
    .frame-parent-2{
      transform: scale(0.6);
    }
  
    .frame-parent {
      flex-direction: column;
      align-items: stretch;
    }
  
    .logo-area {
      justify-content: center;
    }
  
    .routine {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .routine-child {
      width: 100%;
      height: 0.25rem;
    }
  
    .routine-info {
      padding: 1rem;
    }
  
    .additional-text {
      margin-left: 0;
      text-align: center;
    }
  
    .right-trail7 {
      display: block;
    }
  }

  @media screen and (max-width: 400px) {
    .routine-container {
      padding: 1rem;
    }
    .frame-parent-2{
      transform: scale(0.5);
    }
  
    .frame-parent {
      flex-direction: column;
      align-items: stretch;
    }
  
    .logo-area {
      justify-content: center;
    }
  
    .routine {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .routine-child {
      width: 100%;
      height: 0.25rem;
    }
  
    .routine-info {
      padding: 1rem;
    }
  
    .additional-text {
      margin-left: 0;
      text-align: center;
    }
  
    .right-trail7 {
      display: block;
    }
  }