.selected-line {
    align-self: stretch;
    position: relative;
    height: 0.13rem;
  }
  .div1,
  .div3 {
    height: 3.75rem;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0.81rem 1rem 0;
    box-sizing: border-box;
    gap: 1rem;
  }
  .div1 {
    display: none;
  }
  .div3 {
    display: flex;
  }
  .b {
    position: relative;
    line-height: 1.5rem;
  }
  .wrapper {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
  }
  .selected-line3 {
    align-self: stretch;
    position: relative;
    background-color: #000;
    height: 0.13rem;
  }
  .div7,
  .parent {
    display: flex;
    align-items: flex-start;
  }
  .div7 {
    height: 3.75rem;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.81rem 0 0;
    box-sizing: border-box;
    gap: 1rem;
    color: #000;
  }
  .parent {
    width: 43.75rem;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 0;
  }
  .field-tab-child {
    position: absolute;
    margin: 0 !important;
    top: 3.69rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 90rem;
    height: 0.06rem;
    z-index: 1;
  }
  .field-tab,
  .field-tab-wrapper {
    display: flex;
    flex-direction: column;
  }
  .field-tab {
    width: 90rem;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.63rem;
  }
  .field-tab-wrapper {
    position: absolute;
    top: 24rem;
    left: 0;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.13rem;
  }
  .abhishek-tiwari-3zdxqud13bc-un-icon {
    position: absolute;
    height: 158%;
    width: 118%;
    top: 0;
    right: -9%;
    bottom: -58%;
    left: -9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
  }
  .pic-fieldprof-10 {
    position: absolute;
    width: 100%;
    top: calc(50% - 716px);
    right: 0;
    left: 0;
    height: 89.5rem;
    overflow: hidden;
  }
  .cover,
  .cover1 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  .cover {
    width: 100%;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.36);
  }
  .cover1 {
    width: 100.14%;
    right: -0.07%;
    left: -0.07%;
    background: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.1));
    opacity: 0.2;
  }
  .field-img {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    z-index: 0;
  }
  .parrish-freeman-imidyuvbole-un-icon {
    position: absolute;
    height: 150%;
    width: 100%;
    top: -39%;
    right: 0;
    bottom: -11%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .pic-fieldprof-02 {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .text,
  .writer {
    flex-direction: row;
    justify-content: flex-start;
  }
  .text {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
    margin-top: 5px;
  }
  .writer {
    border-radius: 4px;
    display: none;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 1.13rem;
  }
  .caglar-oskay-37iikyijewa-unspl-icon {
    position: absolute;
    height: 202%;
    width: 128%;
    top: 0;
    right: 0;
    bottom: -102%;
    left: -28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .div10,
  .div9 {
    display: none;
    overflow: hidden;
    flex-shrink: 0;
  }
  .div9 {
    position: relative;
    width: 3rem;
    height: 3rem;
  }
  .div10 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 6.25rem;
  }
  .div10,
  .div11 {
    position: relative;
    line-height: 1.38rem;
  }
  .container,
  .div8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .container {
    border-radius: 2px;
    flex-shrink: 0;
    color: #fff;
  }
  .div8 {
    align-self: stretch;
    gap: 1rem;
  }
  .b1 {
    position: relative;
    line-height: 1.38rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .frame {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .div14 {
    position: relative;
    line-height: 1.38rem;
    color: rgba(0, 0, 0, 0.6);
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 6.25rem;
    flex-shrink: 0;
  }
  .div12,
  .group {
    align-self: stretch;
    display: none;
    justify-content: flex-start;
  }
  .div12 {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: #000;
  }
  .group {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .title,
  .title1 {
    position: relative;
  }
  .title {
    line-height: 2.38rem;
    display: none;
    width: 3.19rem;
    flex-shrink: 0;
  }
  .title1 {
    flex: 1;
    font-size: 2.25rem;
    line-height: 3rem;
  }
  .frame-parent,
  .title-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .title-parent {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.25rem;
    font-size: 1.75rem;
    color: #fff;
  }
  .frame-parent {
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    color: rgba(0, 0, 0, 0.6);
  }
  .div19 {
    position: relative;
    line-height: 1.38rem;
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .div15,
  .frame-div {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-div {
    flex-shrink: 0;
    display: flex;
    gap: 0.25rem;
    color: rgba(255, 255, 255, 0.6);
  }
  .div15 {
    align-self: stretch;
    display: none;
    gap: 1rem;
  }
  .child {
    position: relative;
    background-color: rgba(255, 255, 255, 0.36);
    width: 0.06rem;
    height: 1rem;
    display: none;
  }
  .name {
    flex: 1;
    height: 5.38rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }
  .div29 {
    position: relative;
    line-height: 2.13rem;
    display: inline-block;
    width: 27.5rem;
  }
  .right-child {
    align-self: stretch;
    position: relative;
    background-color: rgba(255, 255, 255, 0.36);
    height: 0.06rem;
  }
  .ic-write-icon {
    position: relative;
    width: 1.13rem;
    height: 1.13rem;
    object-fit: cover;
    display: none;
  }
  .div30 {
    position: relative;
    line-height: 0.75rem;
    font-weight: 500;
  }
  .text1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0.25rem;
  }
  .ic-picture-icon {
    position: relative;
    width: 1rem;
    height: 1rem;
    object-fit: cover;
  }
  .label-button {
    border-radius: 4px;
    height: 1.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.38rem 0.25rem;
    box-sizing: border-box;
  }
  .interface-child {
    position: relative;
    background-color: #fff;
    width: 0.06rem;
    height: 0.75rem;
  }
  .interface,
  .right {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
  .interface {
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 0.75rem;
  }
  .right {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.13rem;
  }
  .field-header-editor,
  .warp {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .warp {
    margin: 0 !important;
    position: absolute;
    top: 0;
    left: 23.13rem;
    width: 43.75rem;
    height: 23.75rem;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7.5rem 0 3rem;
    gap: 1.5rem;
    z-index: 1;
  }
  .field-header-editor {
    background-color: #fff;
    width: 90rem;
    height: 24rem;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem;
    position: relative;
  }
  .pic-fieldprof-021 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .b4,
  .roomtiny {
    position: relative;
  }
  .roomtiny {
    align-self: stretch;
    border-radius: 4px;
    width: 5.06rem;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
  }
  .b4 {
    font-size: 0.88rem;
    line-height: 1.19rem;
  }
  .parent2 {
    margin: 0 !important;
    position: absolute;
    top: 0.72rem;
    left: 4.69rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
    z-index: 1;
  }
  .div33,
  .routine {
    flex-direction: row;
    justify-content: flex-start;
  }
  .routine {
    flex: 1;
    border-radius: 8px;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    position: relative;
    gap: 0.63rem;
  }
  .div33 {
    width: 43.75rem;
    flex-shrink: 0;
    display: none;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.13rem;
    color: #000;
  }
  .field-header-editor-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 90rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #fff;
  }
  .nolist-icon {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .right-trail {
    background-color: #000;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
  }
  .logo-icon {
    position: relative;
    width: 4.5rem;
    height: 1.25rem;
    object-fit: cover;
  }
  .left-trail {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .spacing {
    align-self: stretch;
    flex: 1;
    position: relative;
  }
  .ic-search-icon,
  .nosearch-icon {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
  }
  .ic-search-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
  .right-trail2 {
    width: 4.5rem;
    height: 4.5rem;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    box-sizing: border-box;
  }
  .insung-yoon-gpcz1b3aeqk-unspla-icon {
    position: absolute;
    height: 293.61%;
    width: 252.38%;
    top: -96.02%;
    right: -145.24%;
    bottom: -97.59%;
    left: -7.14%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .pic-fieldprof-15 {
    position: absolute;
    top: calc(50% - 27px);
    left: calc(50% - 21px);
    width: 2.63rem;
    height: 3.38rem;
    overflow: hidden;
  }
  .field-list-imgfalsefalsethu {
    position: relative;
    border-radius: 4px;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 4.13rem;
    height: 1.88rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .div34 {
    position: relative;
    line-height: 0.88rem;
    font-weight: 500;
  }
  .right-trail4 {
    height: 4.25rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    gap: 0.5rem;
  }
  .ic-search-icon1 {
    position: relative;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
  }
  .wrapper1 {
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .andre-blanco-3sakn9kdlhe-unspl-icon {
    position: absolute;
    height: 171%;
    width: 135%;
    top: -26%;
    right: -5%;
    bottom: -45%;
    left: -30%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .field-list-imgfalsefalsethu1 {
    position: relative;
    border-radius: 4px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 2.75rem;
    height: 2.13rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .right-trail6,
  .write-in-gnb {
    height: 4.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .right-trail6 {
    display: none;
    padding: 0.75rem 0.5rem;
    gap: 0.5rem;
  }
  .write-in-gnb {
    width: 4.5rem;
    display: flex;
    padding: 1.25rem;
  }
  .v-divider-16-invers-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .v-divider-16-invers {
    align-self: stretch;
    position: relative;
    width: 0.06rem;
  }
  .v-divider-16-invers-wrapper {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0.75rem 1rem;
  }
  .field-writer,
  .gnb-2,
  .name1,
  .v-divider-16-invers-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .name1 {
    width: 2.5rem;
    height: 1rem;
    justify-content: flex-end;
  }
  .field-writer,
  .gnb-2 {
    height: 4.5rem;
  }
  .field-writer {
    width: 8.13rem;
    justify-content: flex-end;
    padding: 0.75rem 1.25rem;
    box-sizing: border-box;
    gap: 0.5rem;
  }
  .gnb-2 {
    position: absolute;
    top: 0;
    left: calc(50% - 720px);
    width: 90rem;
    justify-content: flex-start;
    color: #fff;
  }
  .div38,
  .line {
    position: relative;
  }
  .line {
    background-color: rgba(0, 0, 0, 0.2);
    width: 25rem;
    height: 0.06rem;
    display: none;
  }
  .div38 {
    line-height: 1.19rem;
    font-weight: 500;
  }
  .label {
    width: 12.5rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .spacing1 {
    flex: 1;
    position: relative;
    height: 0.5rem;
  }
  .div37,
  .div39 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .div39 {
    flex: 1;
    height: 2.25rem;
    font-size: 1.13rem;
    color: #000;
  }
  .div37 {
    align-self: stretch;
  }
  .line1 {
    display: none;
  }
  .line1,
  .line2 {
    align-self: stretch;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    height: 0.06rem;
  }
  .label-button3 {
    border-radius: 4px;
    height: 2.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.38rem 0.75rem;
    box-sizing: border-box;
  }
  .item {
    align-self: stretch;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    width: 0.06rem;
    display: none;
  }
  .div43,
  .label-button4 {
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
  .label-button4 {
    border-radius: 4px;
    height: 1.75rem;
    display: none;
    justify-content: center;
    padding: 0.38rem 0.25rem;
    box-sizing: border-box;
    font-size: 0.75rem;
  }
  .div43 {
    align-self: stretch;
    display: flex;
    justify-content: flex-end;
  }
  .frame-child {
    position: relative;
    background-color: rgba(0, 0, 0, 0.12);
    width: 0.06rem;
    height: 1.5rem;
  }
  .parent7 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }
  .div48 {
    flex: 1;
    position: relative;
    line-height: 1.38rem;
  }
  .ic-chevron-right-s-icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
  }
  .div47,
  .wrapper2 {
    flex-direction: row;
    justify-content: flex-start;
  }
  .div47 {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .wrapper2 {
    width: 25rem;
    display: none;
    align-items: flex-end;
    text-align: left;
    font-size: 1rem;
    font-family: Roboto;
  }
  .line-parent,
  .parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .line-parent {
    gap: 1rem;
    text-align: center;
    color: #000;
  }
  .parent6 {
    gap: 1.5rem;
  }
  .aper {
    flex: 1;
    position: relative;
    line-height: 1.19rem;
  }
  .b12,
  .text-bt-child {
    position: absolute;
    left: 0;
  }
  .b12 {
    top: 0;
    line-height: 1rem;
  }
  .text-bt-child {
    height: 6.25%;
    width: 98.55%;
    top: 93.75%;
    right: 1.45%;
    bottom: 0;
    background-color: #000;
  }
  .text-bt {
    position: relative;
    width: 4.31rem;
    height: 1rem;
    font-size: 0.75rem;
  }
  .aper-parent,
  .wrap {
    display: flex;
    justify-content: flex-start;
  }
  .aper-parent {
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1rem;
    color: #000;
  }
  .wrap {
    position: absolute;
    top: 29.63rem;
    left: 23.13rem;
    width: 43.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }
  .div {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 70.5rem;
    overflow: hidden;
    text-align: left;
    font-size: 0.88rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Spoqa Han Sans Neo";
  }
  