.mn{
    margin-top: 70px;
}


 .add-div-2{
    width: 700px;
    height: 2400px;
    position: absolute;
   /* margin-top: 100px; */
    /* margin-lef: 370px; */
    background-color: white;
    margin-left: -380px;
    margin-top: -50px;
    overflow-y: hidden;
    /* font-family: "YoonV YoonMyungjo105Std_OTF"; */
  }
.mn1{
  margin-top: 50px;
}
  .add-div-4{
    width: 700px;
    height: 2400px;
    position: absolute;
   /* margin-top: 100px; */
    /* margin-lef: 370px; */
    background-color: white;
    margin-left: -380px;
    margin-top: -50px;
  }




@media only screen and (max-width: 768px) {
    .add-div-2 {
        width: 100%;
        max-width: none;
        height: 2400px;
        /* margin-left: -200%; */
    }
}


@media only screen and (max-width: 480px) {
    .add-div-2 {
        width: 200%;
        height: 2400px;
    }
}
  
  .add-div-3{
    width: 100%;
    height: auto;
    position: relative;
    word-wrap: break-word; 
    overflow-y: scroll;
   /* margin-top: 100px; */
    /* margin-lef: 370px; */
    background-color: white;
    /* margin-left: -380px; */
    /* margin-top: -50px; */
  }
  
.add-div-2 textarea {
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
    box-sizing: border-box;
    color: black;
    border: none;
    resize: none; 
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 2.5rem;
    word-wrap: break-word;
    font-weight: 400;
    background-color: transparent;
  overflow: hidden;
    background-color: transparent;
    outline: none;
  }


  .add-div-4 textarea {
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
    color: black;
    border: none;
    resize: none; 
    font-size: 16px;

    background-color: transparent;
    outline: none;
    overflow: hidden;
  }
  .add-div-3 textarea {
    width: 100%;
    /* height: 100%; */
    padding: 5px;
    box-sizing: border-box;
    
    color: black;
    border: none;
    resize: none; 
    font-size: 14px;
    font-family:  sans-serif; 
    background-color: transparent;
    outline: none;
  }
.footer {
    position: fixed;
    bottom: 0;
    height : 150px;
    width: 100%;
    background-color: transparent; 
    padding: 10px;
   
  }
  .footer-mail {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent; 
    padding: 10px; 
    box-sizing: border-box;
    z-index: 1000;
  }
  .toast {
    position: absolute;
    top: 30.25rem;
    left: 35%;
    border-radius: 4px;
    background-color: #000;
    width: 25.75rem;
    height: 4rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    box-sizing: border-box;
    font-size: 1.13rem;
    color: white;
  }
  
  .autosavee{
    visibility: hidden; 
  }
  
  .autosavee.show {
    visibility: visible; 
  }

  .autosave{
    width: 412px;
    font-size: 14px;
    height: 62px;
    padding:  15px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 300px;
  }
  .autosave1111{
    width: 412px;
    font-size: 14px;
    height: auto;
    padding:  15px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 300px;
    z-index: 999;
  }
 
  
  .autosave1 {
    /* margin-left: 550px; */
    width: 352px;
    font-size: 14px;
    height: 48px;
    padding:  15px;

    background-color: black;
    color: white;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    position: absolute;
    /* top: 0;  */
   /* margin-left: 38%; */
    background-color: #0d0c0c; 
    z-index: 9999; 
    
  }

  .toast-container {
    width: 352px;
    font-size: 14px;
    height: auto;
    padding:  15px;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    border: 1px solid #000000;
    padding: 10px;
  }

  .autosave111 {
    margin-left: 500px;
    width: 352px;
    font-size: 14px;
    height: 62px;
    padding:  15px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    /* position: absolute; */
    top: 0; 
    left: 0; 
    background-color: #0d0c0c; 
    z-index: 2; 
    
  }

  .edit-footer {
    width: 140px;
    height: 52px;
    background-color: black;
    color: white;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;

  }
  
  .edit-footer-1 {
    position: fixed;
    width: 140px;
    height: 52px;
    background-color: black;
    color: white;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    /* margin-right: 600px; */
    margin-left: 600px;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;

  }
  .share-footer{
    width: 140px;
    height: 52px;
    background-color: black;
    color: white;
    border-radius: 20px; 
    align-items: center;
    text-align: center;
    padding: 1rem;  
    font-size: 14px; 
    cursor: pointer;
    margin-left:-115px;
    position: fixed;
    gap: 10px;
    z-index: 9999;
  }
  .button-share{
    margin-left: 5px;
  }
.aperlogo-1{
    color: black;
font-size: 14px;
font-family: Spoqa Han Sans Neo;
font-weight: 500;
line-height: 14px;
word-wrap: break-word;

}
  .footer-buttons{
    display: flex;
    flex-direction: column;
    /* margin-left: 540px; */

    /* margin-top: 120px; */
  }

  .footer-buttons1{
    display: flex;
    flex-direction: row;
     margin-left: 50px; 
     margin-bottom: 20px;

    /* margin-top: 120px; */
  }

  .inv{
    filter: invert(100%);
  }

  .inv{
    margin-left: 5px;
  }