
.containerwrite{
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 700px;
  margin: 0 auto;
}
.boxwrite{
  
    
    padding: 10px;
    margin: 10px;
    text-align: left; /* Align text to the left (start) */
}

.title-st{
    margin-left: 10px;
}
.custom-text-1{
    color: black;
font-size: 16px;
/* font-family: Spoqa Han Sans Neo; */
font-weight: 400;
line-height: 22px;

word-wrap: break-word
}
.autocnt{
  margin-left: 120px;
  
}
/* .autocnt11{
  margin-left: 100px;
  margin-top: 10px;
  
} */
/* .autocnt111{
  margin-left: 50px;
  margin-top: 10px;
  
} */

/* .additional-div {
    width: 700px;
    height: 88px;
    position: absolute;
    top: 80px;
    left: 370px;
    background-color: white; 
   
  } */
  .additional-div {
    width: 100%; 
    max-width: 700px; 
    position: relative; 
    margin: 0 auto; 
    background-color: white;
   
   
    box-sizing: border-box; /* Include padding in width calculation */
   
  }


  .add-div-2{
    width: 700px;
    height: 2400px;
    position: absolute;
   top: 168px;
    left: 370px;
    background-color: white;
  }
  .add-div-4{
    width: 700px;
    height: 2400px;
    position: absolute;
   top: 100px;
    left: 390px;
    background-color: white;
  }
  .footer-content-container {
    display: flex;
    align-items: center; /* Align items vertically center */
    justify-content: space-between; /* Add space between the elements */
    width: 100%; /* Make the container full width */
  }
  .footer-mobile-writer{
    display: flex;
    flex-direction: row;
    flex: 3 1;
    background-color: white;
  }
  .one-writing{
   width: 300px;
  }
.add-div-2 textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    border: none;
    resize: none; /* Disable textarea resizing */
    font-size: 16px;
    font-family:  sans-serif; /* Choose your preferred font */
    background-color: transparent;
    outline: none;
  }
  .custom-text-1 {
    color: black;
    font-size: 16px;
  
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
  }

  .heading-1 {
    width: 100%;
    color: black;
    font-size: 28px;

    font-weight: 700;
    line-height: 38px;
    word-wrap: break-word;
  }
  .he{
    margin-top: -28px;
    width: 100%;
  }

  .subtitle {
    color: rgba(0, 0, 0, 0.36);
    font-size: 38px;
    margin-left: 10px;
    font-weight: bolder;
    line-height: 48px;
    word-wrap: break-word;
    border: none;
    outline: none;
    width: 600px;
    /* width: 100%; */
  }

  .full-size-background {
    width: 100%;
    height: 2px;
    background: black;
  }

  .test {
    color: black;
    font-size: 28px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 38px;
    word-wrap: break-word;
    
  }
  
  .subtitle {
    color: black; /* Color for the typed text */
    font-size: 26px; /* Adjust the font size as needed */
    
    font-weight: 600;
    line-height: 22px; /* Adjust the line height as needed */
    word-wrap: break-word;
  }
  
  .subtitle::placeholder {
    color: rgba(0, 0, 0, 0.36);
    font-size: 24px; /* Adjust the font size as needed */
 
    font-weight: 400;
    line-height: 22px; /* Adjust the line height as needed */
    word-wrap: break-word;
  }

  .text-1{
    color: rgba(0, 0, 0, 0.36);
font-size: 28px;

font-weight: 400;
line-height: 38px;
word-wrap: break-word
  }
  /* .add-div-22{
    width: 720px;
    height: 11500px;
    position: absolute;
   
    background-color: white;
    margin-left: 360px;
    margin-top: 150px;
    
  } */
  .above{
    display: flex;
    flex-direction: row;
  }
  
  .above2{
    margin-top: 15px;
    margin-left: 10px;
  }
  .add-div-22 {
    width: 100%;
    max-width: 720px;
    position: relative;
    margin: 0 auto;
    z-index: 1000;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: hidden; /* Ensure the div content doesn't overflow */
}

.add-div-22 .myTextarea {
    width: 100%;
    min-height: 100px; /* Set a minimum height to prevent the div from collapsing */
    box-sizing: border-box;
    color: black;
    border: none;
    line-height: 2.5rem;
    letter-spacing: 0.04em;
    word-wrap: break-word;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    overflow-y: hidden; 
}


.add-div-222 {
  width: 100%;
  max-width: 720px;
  position: relative;
  margin: 0 auto;
  /* z-index: 999; */
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: hidden; 
}

.add-div-222 .myTextarea {
  width: 100%;
  min-height: 100px; /* Set a minimum height to prevent the div from collapsing */
  box-sizing: border-box;
  color: black;
  border: none;
  line-height: 2.5rem;
  letter-spacing: 0.04em;
  word-wrap: break-word;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  overflow-y: hidden; /* Ensure the div content doesn't overflow */
}
  .add-div-22 {
    width: 100%;
    max-width: 720px;
    position: relative;
    margin: 0 auto;
    z-index: 1000;
    background-color: white;
    margin-top: 20px;
    overflow-y:auto;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .add-div-22 textarea {
    width: 100%;
    min-height: 100px; /* Set a minimum height to prevent the textarea from collapsing */
    box-sizing: border-box;
    color: black;
   
    border: none;
    resize: none;
    line-height: 2.5rem;
    letter-spacing: 0.04em;
    word-wrap: break-word;
    font-size: 16px;
    background-color: transparent;
    outline: none;
  
  }
.bbb{
  margin-left: 10px;
}
.ccc{
  margin-left: 10px;
}
  
/* .add-div-22 textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    border: none;
    resize: none; 
    font-size: 16px;
    font-family:  sans-serif; 
    background-color: transparent;
    outline: none;
  } */

  /* .add-div-22 textarea {
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    color: black;
    border: none;
  
    resize: none;
    line-height: 2.5rem;
    letter-spacing: 0.04em;
    word-wrap: break-word;
    font-size: 16px;
    background-color: transparent;
    outline: none;
  } */


  .custom-textarea-container {
    /* Add any container styles here */
  }
  
  .custom-textarea {
    width: 700px;
    height: auto;
    border: none;
    overflow-y: auto;
    font-family: sans-serif;
    resize: vertical; /* Allows vertical resizing */
    /* Add any textarea-specific styles here */
  }

  .move-back-story{
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    width: 190px;
    transition: transform 0.3s ease;
  }
  .move-back-story1{
    margin-top: 20px;
    cursor: pointer;
    width: 190px;
    margin-left: 0px;
    transition: transform 0.3s ease;
  }
 

  /* .footer-writing{
    width: 100%;
    background-color: transparent;
    height: 50px;
   margin-top: 100px;
   display: flex;
   flex-direction: row;
   position: absolute;
  } */
  .footer-writing {
    width: 100%;
    background-color: transparent;
    margin-top: 100px; /* Add margin-top */
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  .footer1 {
    position: fixed;
     /* position: relative; */
    z-index: 1; 
    bottom: 0;
    height : 150px;
    width: 100%;
    background-color: transparent; 
    
  }
  .main-cnt{
    width: 110%;
  }

  @media (max-width: 768px) {
    .story-writing-container {
      width: 100%; /* Adjust width for tablet screens */
      left: 5%; /* Center the container horizontally */
      top: 20px; /* Adjust top spacing */
    }
    .autosave1{
      margin-left: -200px;;
    }
    
    .add-div-22 {
      width: 100%; /* Adjust width for tablet screens */
     
     
      height: 12000px;
    }
    
    .footer-writing {
      margin-top: 50px; /* Adjust top spacing */
    }
  }
  
  /* Media queries for mobile */
  @media (max-width: 480px) {
    .story-writing-container {
      width: 100%; /* Full width for mobile screens */
      left: 0; /* Reset left positioning */
      top: 10px; /* Adjust top spacing */
    }

    /* .additional-div{
      padding: 5px !important;
      margin-left: 40px !important;
    } */
    
    .add-div-22 {
      width: 100%; 
      /* left: 12%;  */
      margin-top: 50px; 
      height: 12000px;
     
    }
    
   
    .footer-writing {
      margin-top: 20px;
    }
  }
  
  /* General styles */
  .title-st {
    margin-left: 10px;
  }
  

  .count{
    color: black;
    text-align: center;
    margin-left: 920px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 400px;
  }
  .tg{
    margin-left: 700px;
    /* position: absolute; */
  }
.cnt{
  margin-left: 850px;
  position: absolute;
}
  .toggle-container{
   margin-left: 250px;
   margin-top: 15px;
  }

  .aperlogo{
    width:  100px;

    height: 80px;
    /* margin-bottom: 100px; */
  }

  